.item{
    padding: 20px;
}

.item .card{
    margin: 0 auto;
    border: 2px solid #abbabb;
    transition: all 1s;
}

.item img{
    display: block;
}

.item span{
    display: block;
}

.item .add-btn{
    background-color: #abbabb;
    color: #111;
    transition: all .5s;
}

.add-btn:hover{
   background: rgb(188, 167, 141) !important;
}

.item .card:hover{
    border-color: rgb(188, 167, 141) !important;

}